.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: box-shadow 0.3s;
    margin: 20px; /* Add margin to all sides of the card */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 0 15px; /* Adjust padding as needed */
}

/* Set border radius for the image */
img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}